D_ICD_DIAGNOSES.csv
D_ICD_PROCEDURES.csv
DIAGNOSES_ICD.csv
PROCEDURES_ICD.csv
NOTEEVENTS.csv

processed_data/*
ori_mimic3_data/*
.vscode/
third_party/*
trained_models/*
runs/*
!*/.gitkeep
ori_cn_emr_data/*
processed_cn_emr_data/*
emr*.py

TODO.md
*_test.py
_*
.DS_Store
*.tar.gz
*.log
*.pth
*.bin